:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-weight: 1.5;
  font-weight: 400;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  backgroud-color: white;
  min-width: 320px;
  min-height: 100vh;
}

#root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}